body{
    background-color:#F6D8FA;
}
.partesuperior{
    background-color: rgb(238, 173, 225);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
}
.logo{
    justify-content: center;
    align-items: center ;
    padding: 30px;
    padding-left: 45%;
}
h1{
    text-align: center;
    font-style: italic;
    font-size: 50px;
    color: #ca4595; 
}
.textofran, .fotofran{
    margin: 50px;
    display: inline-block
}
.textofran{
    width: 800px;
    height: 400px;
    text-align: center;
    color: #ca4595;
    font-size: 20px;
}
.textoisa, .fotoisa{
    display:inline-block;
    margin: 50px;
}
.textoisa{
    width: 800px;
    height: 400px;
    text-align: center;
    color: #ca4595;
    font-size: 20px;
}

.textoleA, .fotoleA{
    display: inline-block;
    margin: 50px;
}
.textoleA{
    width: 800px;
    height: 400px;
    text-align: center;
    color: #ca4595;
    font-size: 20px;
}
.textoleO, .fotoleO{
    display: inline-block;
    margin: 50px;
}
.textoleO{
    width: 800px;
    height: 400px;
    text-align: center;
    color: #ca4595;
    font-size: 20px;
}
.textomalena, .fotomalena{
    display: inline-block;
    margin:50px
}
.textomalena{
    width: 800px;
    height: 400px;
    text-align: center;
    color: #ca4595;
    font-size: 20px;
}
.dividerFooter {
    width: 400px;
    height: 50px;
    padding-top: 200px;
    padding-bottom: 48px;
    padding-left: 37%;
}

.footerGif {
    position: relative;
    background-color: rgb(238, 173, 225);
    width: 1500px;
    height: 80px;
}

.footerGif img {
    align-items: center;
    height: 200px;
    position: absolute;
    top: -85px;
    left: 0;
    z-index: 1;
}

.textFooter {
    color: purple;
    font-style: bold;
    display: flex;
    padding-left: 15%;
    padding-top: 8px;
}